:root {
	--primary-color: tomato;
	--primary-color-deep: #ff3915;
	--light-text-color: #374151;
	--dark-text-color: #d1d5db;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
	width: 8px;
	background: #DADADA;
}
body::-webkit-scrollbar-thumb {
			background: #6F6F6F;
}
body::-webkit-scrollbar-thumb:active{
	background: #484444
}



* :focus-visible {
	outline: none
}

* .dark {
	@apply transition-colors;
	box-sizing: border-box;
}

body {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu,sans-serif
}

@layer base {

	
	
	.icon {
		@apply h-[1rem] inline;
	}

	* {
		@apply leading-relaxed;
	}

	input:focus-visible,
	textarea:focus-visible {
		border: 1px solid tomato;
	}

	input:read-only {
		@apply !bg-blue-200 !text-gray-700;
	}

	input[type='checkbox'],
	input[type='radio'] {
		width: unset;
	}

	input {
		@apply dark:bg-gray-600  border border-gray-300 px-1 rounded p-0.5 dark:border-0 w-full;
	}

	textarea {
		@apply border-gray-300 border rounded dark:bg-gray-600 dark:border-0 dark:text-white w-full p-1;
	}

	ul,
	ol {
		padding-inline-start: 30px;
		list-style-position: inside;
	}

	ul:first-child,
	ol:first-child {
		padding-inline-start: 5px;
	}

	li > *:first-child {
		display: inline;
	}

	ol {
		list-style-type: number;
	}

	ul {
		list-style-type: disc;
	}

	ul li::marker, ol li::marker{
		color: var(--primary-color);
		font-style: italic;
	}


	html {
		scroll-behavior: smooth;
		scrollbar-width: thin;
	}

	body {
		@apply dark:bg-gray-700 dark:text-gray-300 text-gray-700 text-[1.15rem]	}

	b,
	strong {
		@apply font-medium;
	}

	h2,h3,h4,h5,h6 {
		color: var(--primary-color)
	}

	h1 {
		@apply dark:text-white;
		font-size: clamp(33px, 1em + 2vw, 45px);
		margin: 24px;
	}
	h2 {
		font-size: clamp(28px, 1em + 2vw, 35px);
		margin: 10px;
	}
	h3 {
		font-size: clamp(23px, 1em + 2vw, 26px);
		margin: 24px;
	}
	h4 {
		font-size: clamp(20px, 1em + 2vw, 22px);
		margin: 24px;
	}
	h5 {
		font-size: clamp(16px, 1em + 2vw, 19px);
		margin: 24px;
	}
	h6 {
		font-size: clamp(13px, 1em + 2vw, 15px);
		margin: 24px;
	}

	a {
		color: var(--primary-color);
	}

	a:visited {
		@apply text-blue-500 dark:text-blue-300;
	}

	a:hover {
		text-decoration: underline;
	}

	blockquote {
		@apply border-l-[15px] p-2 rounded-xl;
		border-left-color: var(--primary-color);
	}

	button * {
		@apply text-white dark:text-white;
	}

	code {
		@apply leading-relaxed;
		word-wrap: break-word;
		white-space: pre-wrap;
		padding: 0.5px;
		padding:1px;

		border:1px solid #888;
		border-radius: 3px;
		font-family: monospace;
	}

	pre > code {
		display: block;
		padding: 5px;
		overflow: auto;
		max-height: 300px;
		scrollbar-width: thin;
		white-space: pre-wrap !important;
	}

pre[class*="language-"] {
	padding: 0px !important;
}


	table,
	thead,
	td {
		@apply border border-gray-300 dark:border-gray-500;
	}

	table > thead {
		@apply font-semibold;
	}

	table td {
		@apply p-3;
	}

	.text-inherit {
		color: inherit
	}
}

@screen lg {
	h1 {
		font-size: 40px;
		margin: 20px;
	}
	h2 {
		font-size: 32px;
		margin: 10px;
	}
	h3 {
		font-size: 28px;
		margin: 24px;
	}
	h4 {
		font-size: 24px;
		margin: 24px;
	}
	h5 {
		font-size: 20px;
		margin: 24px;
	}
	h6 {
		font-size: 16px;
		margin: 24px;
	}
}

.category {
	position: absolute;
	padding: 2px 5px;
	border-radius: 5px;
	color: white;
	top: 10px;
	left: 15px;
}
.category_programming {
	background: orange;
}
.category_tips_and_tricks {
	background: #142f54;
}
.category_personal {
	background: #01a9bc;
}



/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('/fonts/open-sans-v26-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v26-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/open-sans-v26-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v26-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-500 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('/fonts/open-sans-v26-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v26-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('/fonts/open-sans-v26-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v26-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('/fonts/open-sans-v26-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v26-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/fonts/open-sans-v26-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v26-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local(''),
       url('/fonts/open-sans-v26-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v26-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/fonts/open-sans-v26-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v26-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('/fonts/open-sans-v26-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v26-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-500italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('/fonts/open-sans-v26-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v26-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local(''),
       url('/fonts/open-sans-v26-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v26-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('/fonts/open-sans-v26-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v26-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}